<% layout('theme-02/layout') -%>

<!-- inner banner -->
	<div style="background-image: url(<%if(store.image.url!=null){%><%=store.image.url%><%}else{%>/theme-02/images/inner_ban.jpg<%}%>);
				background-size: cover;
				width: 100%;
				height: 360px;
				background-repeat: no-repeat;"
	class="">
	</div>
	<!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/<%=storeId%>">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">PayPal CheckOut</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->


<!-- contact -->
    <section class="wthree-row pt-3 pb-sm-5 w3-contact">
  <div class="container ">
    <h5 class="head_agileinfo text-center text-capitalize pb-5">
      SHIPPING ADDRESS
    </h5>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 border border-info">
        <!-- contact form grid -->
        <div class="contact-top1">
          <form
            class="f-color"
            method="post"
            action="/<%=storeId%>/checkout/stripe"
          >
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="contactusername">First Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="first_name"
                    id="fname"
                    required=""
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="contactusername">Last Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="last_name"
                    id="lname"
                    required=""
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="contactusername">Address:</label>
              <input
                type="text"
                class="form-control"
                name="address"
                id="address"
                required=""
              />
            </div>
            <div class="form-group">
              <label for="contactusername">City:</label>
              <input
                type="text"
                class="form-control"
                name="city"
                id="city"
                required=""
              />
            </div>
            <div class="form-group">
              <label for="contactusername">Country:</label>
              <input
                type="text"
                class="form-control"
                name="country"
                id="country"
                required=""
              />
            </div>
            <div class="form-group">
              <label for="contactusername">State:</label>
              <input
                type="text"
                class="form-control"
                name="state"
                id="state"
                required=""
              />
            </div>
            <div class="form-group">
              <label for="contactusername">Zip / Postal Code:</label>
              <input
                type="text
                "
                class="form-control"
                name="zip_code"
                id="postalcode"
                required=""
              />
            </div>
            <div class="form-group">
              <label for="contactusername">Phone Number:</label>
              <input
                type="text"
                class="form-control"
                name="phone_number"
                id="phonenumber"
                required=""
              />
            </div>
            <div class="form-group">
              <label for="contactemail">Email Address</label>
              <input
                type="email"
                name="email_address"
                class="form-control"
                id="contactemail"
                required=""
              />
            </div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="hidden" name="nonce" value="<%= nonce %>" />
                <script
                  src="//checkout.stripe.com/v2/checkout.js"
                  class="stripe-button"
                  data-key="<%= keyPublishable %>"
                  data-locale="auto"
                  data-description="Place Your Order"
                  data-amount="<%-cart.totals%>00"
                ></script>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--  //contact form grid ends here -->
      <div class="col-md-2"></div>
      <!-- contact details -->
    </div>
    <!-- //contact details container -->
  </div>

  <!--//contact map grid ends here-->
</section>


